@model IEnumerable<AspCoreUdemy.Core.Data.Models.Subject>

@{
    ViewData["Title"] = "Subjects";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @using System;
    @using System.Collections.Generic;
    @using System.Linq;
    @using System.Threading.Tasks;
    @using AspCoreUdemy.Core.Data;
    @using AspCoreUdemy.Core.Data.Models;
    @using Microsoft.AspNetCore.Mvc;
    @using Microsoft.EntityFrameworkCore.Metadata.Internal;

    this._context = context;

}

<script src="~/lib/jquery/dist/jquery.js"></script>

<h1>Subjects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>sdfsdfsdfsdfsdfsd</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td id="ToEdit">
                <script type="text/javascript">

                    $.get('@Url.Content("~/")' + "Subject/GetExamTitre", { ExamId: item.ExamId }, function (data) {
                    alert(data);
                });

                </script>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>                      